@model IEnumerable<Austumate.Models.MajorModel>

@{
    ViewBag.Title = "Majors";
}

<h2 class="mt-5 mb-4">Major List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MajorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollegeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requirements)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MajorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.College.CollegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirements)
        </td>
    </tr>
}

</table>
