@using Microsoft.AspNet.Identity
@model IEnumerable<Austumate.Models.StudentModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-5 mb-4">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MajorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ProfileID == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major.MajorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProfileID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProfileID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProfileID })
                </td>
            </tr>
        }
    }

</table>
