@model Austumate.Models.RegistrarModel

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-5 mb-4">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrarID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrarID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mailbox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mailbox)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
