@using Microsoft.AspNet.Identity
@model IEnumerable<Austumate.Models.AvatarModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvatarImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ProfileID == User.Identity.GetUserId())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.FirstName)
                </td>
                <td>
                    <img src="@Url.Content(item.AvatarImage)" height="50" width="50" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProfileID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProfileID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProfileID })
                </td>
            </tr>
        }
    }

</table>
