@model IEnumerable<Austumate.Models.LocationModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-5 mb-4">Location List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus.CampusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
        </td>
    </tr>
}

</table>
